@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
body {
    text-align: center;
}
.login__spaceFill{
    margin-top: 200px;
}
.login__header {
    font-family: Montserrat;
    font-weight: 300;
    width: 100%;
    text-align: center;
}
.login__input {
    font-family: Montserrat;
    margin: auto;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 3px;
    width: 300px;
    outline: 0;
    text-align: center;
}
.login__button {
    padding: 10px 20px;
    margin-top: 30px;
    border: 0;
    width: 120px;
    border-radius: 5px;
    background-color: #D24D57;
    color: #FFF;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
}