<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/cal.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  </head>
  <body>
<main>
<div class="calendar">
  <div class="week">
    <div class="day" v-for="day in days">{{day}}</div>
  </div>
  <div class="day" v-for="day in dates">{{day}}</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" type="text/javascript"></script>
    <script src="js/cal.js"></script>
</div>
</main>
</body>
</html>