shtml
  head
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js")
    style.
      #header{
        font-family: Montserrat;
        font-weight: 400;
        letter-spacing: 1px;
        color: #222;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
      }
      .login__square{
        height: 100px;
        width: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -175px;
        margin-top: -200px;
        text-align: center;
      }
        .secure__input{
          font-family: Open Sans;
          font-size: 11px;
          padding: 15px;
          border: 0;
          font-weight: 300;
          border-bottom: 1px solid #DDD;
          width: 100%;
          outline: 0;
          margin-top: 15px;
        }
          .secure__input--upper{
            text-transform: uppercase;
          }
        .secure__submit{
          border: 1px solid #333;
          margin: auto;
          margin-top: 50px;
          padding: 15px 20px;
          background-color: #FFF;
          border-radius: 3px;
          font-family: Open Sans;
          font-size: 11px;
          letter-spacing: 1px;
          cursor: pointer;
          transition: background-color .25s;
          outline: 0;
        }
          .secure__submit:hover{
            background-color: #333;
            color: #FFF;
            transition: background-color .25s;
          }
  body
    div.login__square
      div#header #[strong AISPI] Event Master Login
      input.secure__input(type="text" placeholder="Name")
      br
      input.secure__input(type="password" placeholder="Password")
      button.secure__submit ....