<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/cal.css">
  </head>
  <body>


<main class="calendar-wrapper">



<img src="images/logo.png" class="logo" alt="Animals in Science Policy Institute Logo">
<div class="calendar">
  <div class="month">
    <a href="#" class="month-navigation month-previous">&laquo;</a>
    <h1 class="month-name">April</h1>
    <a href="#" class="month-navigation month-next">&raquo;</a>
  </div>
  <div class="week">
    <div class="day day-of-week" v-for="day in days">{{day}}</div>
  </div>
  <div class="days-of-month">
    <div class="day day-of-month" v-for="day in dates">
      <div class="date">{{day}}</div>
      <div class="timeslots">
        <a href="#" class="timeslot">9:00am</a>
        <a href="#" class="timeslot">12:00pm</a>
        <a href="#" class="timeslot">2:00pm</a>
      </div>
    </div>
  </div>
</div>


</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js" type="text/javascript"></script>
    <script src="js/cal.js"></script>
</body>
</html>