
@import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');
*{
  padding: 0;
  margin: 0;
}

body{
  text-align: center;
  overflow-y: scroll;
  background-color: #eee;
}
  .viewPopup{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(108,122,137,0.8);
 }
    .container{
      font-family: Montserrat;
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-direction: row;
    }
      .timeContainer{
        width: 20vw;
      }
        .time{
          background-color: rgba(34, 49, 63,1);
          color: #fff;
          width: 100%;
          height: calc(100%/16);
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          flex-direction: column;
          
        }
      .form{
        height: 80vh;
        width: 60vw;
        background-color: rgba(52, 73, 94,0.8);
        display: flex;
        flex-direction: column;
      }
        .info{
          text-align: left;
          width: 100%;
          height: 70%;
          padding: 20px;
          box-sizing: border-box;
        } 
          p{
            color: #fff;
            margin-bottom: 5px;
          }
          input{
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            width: 100%;
            height: 30px;
            margin-bottom: 20px;
            background-color: transparent;
            outline: 0;
          }
          textarea{
            resize: none;
            outline: 0;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            width: 100%;
            height: 50%;
            margin-bottom: 20px;
            background-color: transparent;
          }
        .submitButton{
          width: 100%;
          height: 30%;
        }
          #submit{
            position: absolute;
            bottom: 30px;
            right: 30px;
            background-color: transparent;
            height: 50px;
            width: 150px;
            border: 2px solid #fff;
            border-radius: 25px;
            color: #fff;
            font-size: 20px;
            outline: 0;
            cursor: pointer;
          }

  #header{
    width: 100%;
    float: left;
  }
    #header__image{
      float: left;
    }

  .home__inline{
    width: 90%;
    max-width: 910px;
    margin: auto;
    margin-top: 20px;
  }
    #calendar__month {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 30px;
    }
      .month__change{
        height: 25px;
        width: 25px;
        display: inline-block;
        margin: 0 15px;
        margin-bottom: -4px;
        cursor: pointer;
      }
        .month__change--next{
          background: url(./right_arrow.png) center center no-repeat;
          background-size: 100%;
        }
        .month__change--prev{
          background: url(./left_arrow.png) center center no-repeat;
          background-size: 100%;
        }
      .calendar__dayLabel{
        font-family: Montserrat;
        font-size: 12px;
        width: 130px;
        display: inline-block;
        text-align: center;
        margin-bottom: 4px;
        font-weight: 200;
      }

    #calendar__wrap{
      margin-top: 30px;
      margin-bottom: 100px;
      float: left;
    }
    .calendar__day{
      height: 130px;
      width: 130px;
      background-color: #FFF;
      float: left;
      box-sizing: border-box;
      border-right: 1px solid #EEE;
      border-bottom: 1px solid #EEE;
      box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
      cursor: pointer;
      position: relative;
    }
      .calendar__day--disabled{
        background-color: #f4f4f4;
      }
      .calendar__date{
        font-family: Montserrat;
        font-size: 12px;
        padding: 5px;
        box-sizing: border-box;
        text-align: left;
        font-weight: 200;
        color: #444;
      }
      .calendar__add{
        background: url('./add.png') center center no-repeat;
        background-size: 20px;
        width: 100%;
        height: 30px;
        font-family: Montserrat;
        font-size: 10px;
        line-height: 70px;
        font-weight: 400;
        color: #999;
      }
      .calendar__event{
        padding: 2px;
        font-family: Montserrat;
        text-align: left;
        color: #FFF;
        background-color: #222;
        font-size: 11px;
        text-align: center;
        margin-top: 1px;
        border-radius: 30px;
        overflow: hidden;
        width: 15px;
        height: 15px;
        margin: 5px 0 0 5px;
          transition: width .1s;
        color: transparent;
      }
        .calendar__event--on{
          width: calc(100% - 10px);
          color: #FFF;
          transition: width .1s;
        }
      .calendar__button{
        font-family: Montserrat;
        font-weight: 400;
        font-size: 9px;
        letter-spacing: 1px;
        color: #FFF;
        background-color: #999;
        display: inline-block;
        padding: 2px 5px;
        margin: 5px;
        border-radius: 3px;
      }
        .calendar__button--add{
          position: absolute;
          bottom: 5px;
          left: 5px;
          line-height: 5px;
          cursor: pointer;
          padding: 0;
          font-size: 20px;
          color: #6BB9F0;
          background-color: #fff;
          border: 1px solid #6BB9F0;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          outline: 0;
        }
        .calendar__button--view{
          background-color: #9A12B3;
        }