html
  head
    link(rel="stylesheet" href="./home.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body

    .viewPopup(v-show="inView" v-on:click='toggleTimeLine')
      .container#keepTimeline
        .time(v-for='time in times'){{time}}
    .home__inline
      #header
        img#header__image(src="./logo.png" height="60px")
      #calendar__month
        .month__change.month__change--prev(@click="months.prev()")
        |{{MONTHS[month]}} {{year}}
        .month__change.month__change--next(@click="months.next()")
      #calendar__wrap
        #calendar__dayWrap
          each day in ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"]
            .calendar__dayLabel=day
        .calendar__day(v-for="day in days" v-bind:class="{'calendar__day--disabled': !day.number}") 
          .calendar__date {{day.number||''}}
          .calendar__eventWrap
            .calendar__event(
              v-for="(event,index) in day.events"
              @mouseover="events.extend(event)"
              @mouseout="events.contract(event)"
              v-bind:style="{backgroundColor: SWATCHES[(day.number % SWATCHES.length)][~~(index%2)]}"
              v-bind:class="{'calendar__event--on': event.toggled}") 5:30 PM :: 10:00 PM

          .calendar__button.calendar__button--view(v-show="day.current") VIEW
    script(src="./home.js")






>>>>>>> 3a2ba211dddcd9f03355a7e862907391d69f3eaf
