.viewPopup(v-show="inView" v-on:click='toggleTimeLine($event)')
	.container#keepTimeline
		.time__container
			.time(v-for='time in UTILS.TIMES') {{time}}
		.event__container
			.events(v-bind:style="{top: event.top+'%', height: event.length+'%'  }" v-for='event in bookedEvent') {{event.name}}
		.form__container
			.textContainer
				.text(v-for="text in events") {{text}}
			.inputWrap
				.input
					.radioWrap
						input(type="radio")
						| Guess Classes
					.radioWrap
						input(type="radio")
						| Information Sessions
				.input
					input(type="text")
				.input
					input(type="text")
				.input
					input(type="text")
				.input
					input(type="time")
				.input
					input(type="time")
				.input
					textarea

