html
    head
        link(rel="stylesheet" href="/css/edit.css")
    body
        div.control__wrap
            
        div.login__screen(style="display: none")
            div.login__spaceFill
            h1.login__header Password?
            h6.login__header We just want to know if you are who you say you are.
            input(placeholder="Password" type="password").login__input
            br
            button.login__button LOGIN